@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
body {
    background-color: rgb(255, 253, 253);
    color: rgb(164, 70, 45);
}

.small {
    height: 70px;
}

/* ------------- home user ---------- */
header {
    background-color: rgba(255, 255, 255);
}

.logo {
    color: #000000;
    font-size: 30px;
    font-family: cursive;
    padding: 5px;
}

.button-pilih {
    background-color: hwb(25 16% 40%);
    width: 50px;
    color: #0b0c0c;
}

.judul-1 {
    font-family: cursive;
}

#my-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text {
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    color: rgb(164, 70, 45);
}

.text h1 {
    font-size: 80px;
}

.text p {
    font-size: 25px;
}

.text div {
    margin-top: 10px;
    font-size: 30px;
}

.carousell {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 60px;
    border-radius: 8px;
}

.carousell #item1 img {
    max-width: 100%;
    height: auto;
}

.carousell #item1 {
    margin-top: 60px;
    margin-bottom: 2px;
    border: 2px solid #a4462d;
    height: 500px;
}

.carousell #item3 img {
    max-width: 100%;

}

.carousell #item3 {
    margin: top -20px;
    border: 2px solid #a4462d;
    height: 400px;
}

.carousell p {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
}

.futer {
    background: linear-gradient(to bottom, #ffffff, #a4462d);
    margin-top: 50px;
}

/* Tambahan CSS untuk responsif */
@media only screen and (max-width: 1024px) {

    .carousell #item1,
    .carousell #item3 {
        height: 400px;

    }

    #item1 p {
        font-size: 15px;
    }

    #item3 p {
        font-size: 15px;
    }

    .text p {
        font-size: 18px;

    }
}


@media only screen and (max-width: 768px) {
    .carousell {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .carousell #item1,
    .carousell #item3 {
        height: auto;
    }


    .text {
        padding: 20px;
    }

    .text h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 18px;
    }

    .text div {
        font-size: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .text p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .text p {
        font-size: small;
    }

    .carousell #item1,
    .carousell #item3 {
        margin-top: 2px;
    }
}

/* -------------- style product user --------------- */

.card {
    border-radius: 5px;
    color: #000000;
}

.garis {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: cursive;
}

p {
    font-size: 30px;
}

.carousel img {
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.images {
    width: 100%;
    max-height: 60%;
    border-radius: 8px;
    margin-top: 20px;
}

.container {
    width: 280px;
    height: 350px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 7px rgba(1, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 80px;

}

.keranjang {
    width: 80px;
    background-color: #a4462d;
    color: #fff;
    justify-content: center;
    border-radius: 8px;
    height: 35px;
    box-shadow: 0 10px 7px rgba(1, 0, 0, 0.1);
    padding: 3px;

}

@media only screen and (max-width: 430px) {
    p {
        font-size: 15px;
    }

    .images {
        width: 100%;
        border-radius: 8px;
        margin-top: 20px;
    }
}



/* ------------- card --------------- */
.container1 {
    width: 320px;
    height: 420px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 7px rgba(1, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 80px;
}

.container1 .close {
    justify-self: left;
    text-align: left;
    margin-left: 270px;
    color: rgb(255, 31, 31);

}

.counter-container {
    display: flex;
    align-items: center;
}

.increment-btn,
.decrement-btn {
    background-color: #a4462d;
    color: white;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 90%;
    transition: background-color 0.3s ease;
    margin: 8px;
}

.increment-btn:hover,
.decrement-btn:hover {
    background-color: #45a049;
}

.count {
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.total-harga {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    margin-right: 70px;
}

.btn-checkout {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #a4462d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

.btn-checkout:hover {
    background-color: #0056b3;
}

h4 {
    font-size: 25px;
    font-family: cursive;
}


/* -------------- login & register */
.login {
    color: #538a95;
}

.warna-select {
    color: #396c76;
}

.select-role {
    color: #568892;
}

.login-container {
    margin-top: 100px;
    margin-left: auto;
    /* Pusatkan secara horizontal */
    margin-right: auto;
    /* Pusatkan secara horizontal */
    max-width: 580px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto 20px;
    /* Pusatkan gambar dan tambahkan margin bawah */
}

.login-container h2 {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container .input-group {
    margin-bottom: 15px;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
}

.icone-propil {
    background-color: #8fd6e5;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 55px
}

.login-container .btn-loginn {
    width: 79%;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff, #8fd6e5);
    color: #3b7884;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 55px;

}

.login-container button:hover {
    background-color: #0056b3;
}

.error-msg {
    color: red;
    margin-top: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    margin-right: 1px;
}

.to-register {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #3b7884;
}

.login-container .btn {
    width: 79%;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff, #8fd6e5);
    color: #3b7884;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

@media only screen and (max-width: 1024px) {
    .login-container {
        max-width: 500px;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 430px) {
    .login-container {
        margin-top: 50px;
        height: 600px;
        border: 0px solid #ccc;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);

    }

    .icone-propil {
        margin-left: 12px;
    }

    .login-container input {
        width: 80%;
        padding: 10px;
    }

    .login-container .btn-loginn {
        width: 95%;
        margin-left: 10px;
    }

    .to-register {
        padding: 15px;
    }
}

/* ---------------- HOME ADMIN-------------------------- */
.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    transition: all 0.5s ease;
    font-family: cursive;
    background-color: #ffffff;
    box-shadow: 1 2px 2px rgba(0, 0, 0, 0.1);
}


.judul-header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    padding: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.judul-header2 {
    margin-top: 60px;
    height: 80px;
    width: 100%;
    padding: 5px;
    background: linear-gradient(to bottom, #8fd6e5, #ffffff);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

}

.tex-judul {
    font-size: 30px;
    font-family: cursive;
    margin-top: 10px;
    margin-left: 10px;
    color: #000000;
}

#item4 {
    margin-top: 20px;
    filter: contrast(11-0%);
    width: 99%;

}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: -4px;
    margin-left: -11px;
}


.sidebar .nav-links {
    margin-left: 5px;
    margin: 2px;
    gap: 40px;

}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;

}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: linear-gradient(to bottom, #ffffff, #8fd6e5);
}

.sidebar .nav-links li a:hover {
    background: linear-gradient(to bottom, #ffffff, #8fd6e5);

}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.sidebar .nav-links li a .links_name {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 10px;
}

a .sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout {
    border: none;
    background: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.home-section {
    position: relative;
    background: #fffefef3;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.home-section button:hover {
    background-color: #2697FF;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    color: #000000;
    font-family: cursive;

}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.dashboard {
    margin-top: 10px;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}


.home-section .home-content {
    position: relative;
    padding-top: 40px;
}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
    height: 100%;
}

.overview-boxes .box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 10px);
    background: #35a1a5;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 190px;
    margin-top: 30px;

}

.overview-boxes .box-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 10px);
    background: rgb(189, 5, 5);
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 190px;
    margin-top: 30px;
}

.overview-boxes .box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 10px);
    background: #46a535;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 190px;
    margin-top: 30px;
}

.overview-boxes .box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 10px);
    background: rgb(219, 164, 26);
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 190px;
    margin-top: 30px;
}

.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
}

.home-content .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 600;
    color: #ffffff;

}

.home-content .bx {
    display: inline-block;
    font-size: 40px;
    height: 80px;
    width: 90px;
    line-height: 50px;
    text-align: center;
    color: #bdf1f2;
    border-radius: 20px;
    margin: -1px 0 0 45px;
}


/* --------------- product ------------------- */


.add-product {
    margin-left: 25px;
    margin-top: 30px;
    color: #fefefe;
    background-color: #72bdcd;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

}

.product-table {
    width: 98%;
    border-collapse: collapse;
    margin-bottom: 90px;
    margin-left: 20px;
    margin-top: 10px;
}

.product-table th,
.product-table td {
    border: 1px solid #817c7c;
    padding: 10px;
    text-align: left;
    color: #000000;
}

.product-table th {
    background: linear-gradient(to bottom, #ffffff, #8fd6e5);
    color: #211f1f;
}

.product-table button {
    margin: 10px;
    background-color: #8fd6e5;
    color: #000000;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.product-image {
    max-width: 90px;
    height: auto;
}

/* ------------- table transaction ---------- */
.judul-header-ke2 {
    margin-left: 280px;
    margin-top: 15px;
    width: 75%;
    background: linear-gradient(to bottom, #8fd6e5, #ffffff);
    height: 80px;
    padding: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

}

.product-table-transaction {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 90px;
    margin-left: 280px;
    margin-top: 30px;
}

.product-table-transaction th,
.product-table-transaction td {
    border: 1px solid #817c7c;
    padding: 10px;
    text-align: left;
    color: #000000;
}

.product-table-transaction th {
    background: linear-gradient(to bottom, #ffffff, #8fd6e5);
    color: #211f1f;
}

.product-table-transaction button {
    margin: 10px;
    background-color: #8fd6e5;
    color: #000000;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ---------- popup ------------- */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 35px;
    z-index: 9999;
    height: 460px;
    width: 500px;
    border-radius: 15px;
}

.popup h2 {
    color: #8fd6e5;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.popup input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;

}

.popup button {
    padding: 8px 15px;
    background-color: #6cc5d7;
    color: white;
    border: none;
    cursor: pointer;
    margin: 9px;
    width: 194px;
    border-radius: 15px;
}

.popup button:hover {
    background-color: #0056b3;
}

.product-table {
    border-collapse: collapse;
}



.futer p {
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -80px;
}

.contack {
    gap: 30px;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ---------- boking */
.button-bocking {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 60px;
}

.button-bocking button {
    padding: 15px 30px;
    background-color: #83a2c3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    width: 120px;
    margin-right: 10px;
    padding: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.flex-container button {
    background-color: #2697FF;
    height: 50px;
    border-radius: 10px;
    width: 80px;
    margin-left: 50px;


}

.flex-container p {
    font-size: 15px;
    margin-right: 230px;

}

/* Aturan CSS untuk responsif */
@media only screen and (max-width: 1024px) {
    .button-bocking {
        /* display: flex;
        flex-wrap: wrap; */
        margin-right: 94px;
        margin: 70px;
        margin-top: 10px;


    }

    .button-bocking button {
        width: 25%;
        margin: 8px;

    }

    .flex-container p {
        font-size: 15px;
        margin-right: 170px;
        margin-top: -30px;

    }

    .flex-container button {
        margin-top: -30px;

    }

}

@media only screen and (max-width: 430px) {
    .flex-container p {
        font-size: 15px;
        padding: 2px;
        margin-right: 90px;

    }

    .button-bocking {
        /* display: flex; */
        margin-left: 65px;
        margin: 35px;

    }

    .button-bocking button {
        width: 27%;
        height: 45px;
        margin: 6px;

    }


    .flex-container p {
        margin-top: 10px;
    }

    .flex-container button {
        margin-top: 10px;

    }

}

@media only screen and (max-width: 400px) {
    .button-bocking button {
        width: 25%;


    }

    .button-bocking {
        /* display: flex; */
        /* flex-wrap: wrap; */
        margin-left: 80px;
        margin: 30px;

    }

    .flex-container p {
        font-size: 15px;
        padding: 2px;
        margin-right: 80px;

    }

    .flex-container button {
        /* height: 40px; */
        /* border-radius: 10px; */
        width: 80px;
        margin-left: 10px;


    }


}

@media only screen and (max-width: 330px) {
    .button-bocking {
        /* display: flex;
        flex-wrap: wrap; */
        margin-left: 26px;
        margin: 7px;
    }

    .flex-container p {
        font-size: 15px;
        margin-right: 30px;

    }

    .flex-container button {
        width: 80px;


    }


}


/* -------- qr code ----/ */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    margin-top: -10px;
}

.center-container img {
    width: 100%;
    height: 100%;
    margin-right: 230px;
}

.judulScan {
    text-align: center;
}

.judulScan h1 {
    margin-top: 10px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-container-button {
    background-color: #db7252;
    justify-content: center;
    text-align: center;
    width: 100px;
    margin-left: 420px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
}

/* ------loading ------ */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7986cb;
    /* Warna spinner */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(330deg);
    }
}

.loading-finished p {
    font-size: 40px;
}