@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(255, 255, 255);
    color: rgb(236 72 153);
}

.small {
    height: 70px;

}

header {
    background-color: rgb(255, 255, 255);
}

.logo {
    color: rgb(236 72 153);
    font-size: 30px;
    font-family: cursive;
    padding: 10px;

}

.carousel img {
    height: 500px;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 110px;
    margin-left: 80px;
}

.text {
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    color: rgb(236 72 153);
}

.text h1 {
    font-size: 80px;
}

.text p {
    font-size: 25px;
}

.text div {
    margin-top: 10px;
    font-size: 30px;
}

.carousell {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 60px;
    border-radius: 8px;


}

.carousell #item1 img {
    max-width: 100%;
    height: auto;
}

.carousell #item1 {
    margin-top: 60px;
    margin-bottom: 2px;
    border: 2px solid rgb(236 72 153);
    height: 550px;
}

.carousell #item3 img {
    max-width: 100%;

}

.carousell #item3 {
    margin: top -20px;
    border: 2px solid #ec4899;
    height: 500px;
}

.carousell p {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
}

.futer {
    background: linear-gradient(to bottom, #ffffff, #ec4899);
    margin-top: 50px;

}

@media (max-width: 768px) {
    .carousel {
        flex-direction: column;
    }

    .carousel img {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 640px) {
    .text h1 {
        font-size: 60px;
    }

    .text p {
        font-size: 20px;
    }

    .text div {
        font-size: 25px;
    }

    .carousel {
        padding: 30px;
    }

    .carousel p {
        font-size: 16px;
    }

    .footer p {
        padding: 30px;
        font-size: 20px;
    }
}


.futer p {
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 60px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}